.Slider {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    height: calc(100vh - 12rem);
}

.Slider__empty {
    text-align: center;
    color: rgb(103, 76, 193);
}

.Slider-videos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 90%;
}

.Slider-video {
    position: relative;
    flex-basis: 450px;
    margin-right: 2rem;

    display: flex;
    flex-direction: column;

    border-radius: 3rem;
    border: none;
}

.Slider-video:last-child {
    margin-right: 0;
}

.Slider-video__header {
    position: relative;
    flex-basis: 320px;
    flex-shrink: 3;
    margin: 0;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    border-radius: 3rem 3rem 0 0;
}

.Slider-video__header h2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 100%;

    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    word-break: break-word;
}

.Slider-video__header a {
    display: inline-block;

    width: 100%;
    height: 100%;
    padding: 1rem 0;

    color: rgb(103,76,193);
}

.Slider-video__header a:hover {
    color: rgb(162, 139, 252);
}

.Slider-video__info {
    height: calc(100% - 320px);
    padding: 2rem;

    border-radius: 0 0 3rem 3rem;
    overflow: scroll;
}

.Slider-video__info ul {
    margin: 0;
    padding-bottom: 1rem;
    padding-left: 0;

    list-style: none;
    border-bottom: 4px dotted;
}

.Slider-video__info__description {
    padding-top: 1rem;
    word-break: break-word;
}

.Slider-video__info__author:before {
    content: "👩🏻‍🎤 ";
}

.Slider-video__info__uploadDate:before {
    content: "📆‍ ";
}

.Slider-video__info__viewCount:before {
    content: "👁‍ ";
}

.Slider-pagination {
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

.Slider-pagination__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.Slider-pagination__item {
    display: inline-block;
    margin: 0 0.25rem;
    padding: 0.5rem;
    width: 1rem;
    height: 1rem;

    background-color: rgba(103,76,193, 0.2);
    border-radius: 50%;
    color: rgb(103,76,193);
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.Slider-pagination__item:hover {
    background-color: rgba(103,76,193, 0.1);
    color: rgb(162, 139, 252);
}
