.App {
  position: relative;
  margin: 0;
  padding: 2rem;
  height: 100vh;
  box-sizing: border-box;

  font-family: Roboto, sans-serif;
}

.App > * {
  margin: 0;
  padding-bottom: 2rem;
}

.App__header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App__footer {
  position: absolute;
  bottom: 2rem;
  width: calc(100% - 4rem);

  display: flex;
  justify-content: center;
  align-items: center;

  padding-bottom: 0;
}

.App__footer a {
  color: rgb(103,76,193);
}

.App__footer a:hover {
  color: rgb(162, 139, 252);
}
