.Slider {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    height: calc(100vh - 12rem);
}

.Slider__empty {
    text-align: center;
    color: rgb(103, 76, 193);
}

.Slider-videos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 90%;
}

/*---*/

.Slider-video__info__author:before {
    content: "👩🏻‍🎤 ";
}

.Slider-video__info__uploadDate:before {
    content: "📆‍ ";
}

.Slider-video__info__viewCount:before {
    content: "👁‍ ";
}

/*---*/

.Slider-pagination {
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

.Slider-pagination__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.Slider-pagination__item {
    display: inline-block;
    margin: 0 0.25rem;
}

.Slider-pagination__item-button {
    padding: 0.5rem;
    width: 2rem;
    height: 2rem;

    background-color: rgba(103,76,193, 0.2);
    border-radius: 50%;
    border: none;
    color: rgb(103,76,193);
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

.Slider-pagination__item-button:hover {
    background-color: rgba(103,76,193, 0.1);
    color: rgb(162, 139, 252);
}

.Slider-pagination__item-button__active {
    background-color: rgba(103,76,193, 0.5);
    color: rgb(241, 238, 255);
}